.flex-align-item-center, main, .section_card_right_container, .section_banner, .footer-wrap {
  display: flex;
  align-items: center; }

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  background-color: #21232E;
  width: 1920px;
  padding: 0;
  margin: 0; }

header {
  background: url(../img/m-h-night.jpg) center/100% no-repeat;
  border-bottom-right-radius: 760px 360px;
  height: 880px;
  padding: 20px 0 0 191px; }
  header::before {
    content: "";
    background-color: #FF4E33;
    position: absolute;
    left: 191px;
    top: 289px;
    width: 380px;
    height: 63px; }

.landing-logo {
  display: flex;
  align-items: start;
  text-align: center; }
  .landing-logo img {
    width: 57px;
    margin-top: 5px; }
  .landing-logo p {
    display: inline-block;
    font: bold 1.9em "Fresca", sans-serif;
    line-height: 27px;
    margin: 0 0 0 17px;
    padding-top: 10px; }
    .landing-logo p span {
      display: block;
      font-size: 13px; }

.header_heading {
  font-weight: bold;
  font-size: 90px;
  line-height: 90px;
  word-spacing: 1px;
  width: 50%;
  position: relative;
  margin-top: 87px;
  margin-bottom: 45px; }

.header_text {
  font: 20px "Fresca", sans-serif;
  word-spacing: 4px;
  white-space: pre;
  line-height: 30px;
  margin-bottom: 45px;
  margin-left: -143px; }

.header_button {
  font: bold 22px "Source Sans Pro", sans-serif;
  color: #fff;
  background-color: #E3AC00;
  border: none;
  padding: 15px 55px; }

.login {
  font-size: 25px;
  color: #fff;
  padding-left: 190px; }

main {
  flex-direction: column;
  position: relative; }
  main::before {
    content: "";
    background-color: #FF4E33;
    position: absolute;
    left: 969px;
    top: 39px;
    width: 237px;
    height: 63px; }

.section_text {
  font-weight: 600;
  font-size: 327%;
  margin-top: 45px;
  margin-bottom: 48px;
  position: relative; }

.section_card_wrap {
  color: #fff;
  width: 1125px; }

.section_card {
  display: flex;
  align-content: space-between;
  background-color: #3B3F50;
  border-radius: 5px;
  height: 295px;
  margin-bottom: 30px;
  padding: 25px 125px 25px 25px; }
  .section_card img {
    flex-basis: 138%;
    border-radius: 5px;
    height: 100%;
    margin-right: 101px; }

.section_card_right_container {
  flex-direction: column; }

.section_card_heading {
  font-weight: 600;
  font-size: 30px;
  margin-top: 35px;
  margin-bottom: 5px; }

.section_card_text {
  font: 19px "Fresca", sans-serif;
  line-height: 30px;
  word-spacing: 3px;
  text-align: justify;
  color: #C0C0C0; }

.section_link {
  font-size: 20px;
  color: #C0C0C0; }

.section_banner {
  justify-content: space-between;
  background: linear-gradient(to right, #DDA306, #96324F);
  border-radius: 7px;
  width: 943px;
  height: 180px;
  margin-top: 146px;
  padding: 0 128px;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  bottom: -325px; }
  .section_banner::before {
    content: "";
    background-color: #FF4E33;
    position: absolute;
    left: 279px;
    top: 15px;
    width: 81px;
    height: 63px; }
  .section_banner .section_banner_heading {
    font-weight: 600;
    font-size: 39px;
    margin-top: -26px;
    margin-bottom: 0px;
    position: relative; }
  .section_banner .section_banner_text {
    font: 20px "Fresca", sans-serif;
    color: #ACC3CE;
    margin-top: 20px;
    margin-bottom: 0px; }
  .section_banner .section_banner_button {
    font: bold 22px "Source Sans Pro", sans-serif;
    color: #fff;
    background-color: #E3AC00;
    border: none;
    padding: 15px 55px; }

footer {
  font-family: "Fresca", sans-serif;
  color: #C0C3CE;
  background-color: #21232E;
  height: 305px;
  margin-top: 233px; }

.footer-wrap {
  padding: 148px 192px;
  padding-bottom: 0;
  justify-content: space-between; }
  .footer-wrap .footer_text {
    font-size: 18px;
    flex-basis: 403px; }
  .footer-wrap span {
    font-size: 20px; }
