* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #484848;
    background-color: #0b192f;
    font-family: roboto;
}

.post-1 {
    background: #f3d250;
}

.post-2 {
    background: #8d8741;
}

.post-3 {
    background: #659dbd;
}

.post-4 {
    background: #daad86;
}

#mobile-menu:hover,
nav a:hover {
    background-color: #445577;
    color: #c25c5c;
    transition: background-color 0.5s linear;
    cursor: pointer;
}

.learn-it:hover {
    transition: border 0.5s linear;
    border: 1px solid transparent;
    font-weight: bold;
    text-decoration: underline;
}

#posts .post-image:hover {
    transition: opacity 0.5s linear;
    opacity: 0.5;
}
#posts .post-text:hover {
    opacity: 0.3;
    transition: opacity 0.5s linear;
}

header {
    width: 100%;
    display: flex;
    background-color: #162b4d;
    color: #fff;
    align-items: center;
}

#logo span {
    color: #7f184f;
}

main,
section,
article,
img {
    width: 100%;
}

.post-text h2 {
    font-weight: 100;
    margin: 0;
    line-height: 1.2;
}

.post-text p {
    margin-bottom: 0;
}

.post-date {
    font-weight: 300;
    text-align: center;
}

#last-post {
    background-image: url(../img/post5.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.news-text {
    background-color: #fff;
}

.news-text h3 {
    font-weight: 300;
    margin: 0;
}

.news-text a {
    color: #000;
    text-decoration: none;
    border: 1px solid black;
}

footer {
    background-color: #162b4d;
    display: flex;
    line-height: 0.9;
}

@media screen and (max-width: 480px) {
    header {
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 6vmin;
        height: 44vmin;
    }

    #desktop-menu {
        display: none;
    }

    #mobile-menu {
        font-size: 4vmin;
        font-weight: bold;
        padding: 3vmin;
    }

    #logo {
        margin-bottom: 15px;
        font-size: 7.3vmin;
    }

    .post {
        padding-bottom: 0.3rem;
        margin-bottom: 0.1rem;
    }

    .post-text {
        padding: 5vmin 5.4vmin;
    }

    .post-text h2 {
        font-size: 8.8vmin;
    }

    .post-text p {
        font-size: 2.9vmin;
        line-height: 1.8;
        margin-top: 1.1vmin;
    }

    .post-date {
        font-size: 8vmin;
    }

    .post-date span {
        font-size: 5.3vmin;
    }

    #last-post {
        padding: 24.5vmin 3vmin 34vmin;
    }

    .news-text {
        padding: 8vmin 4vmin 7.6vmin 4vmin;
        margin-bottom: 5.4vmin;
    }

    .news-text h3 {
        font-size: 6vmin;
    }

    .news-text p {
        font-size: 2.7vmin;
        line-height: 1.9;
        margin-top: 7vmin;
        margin-bottom: 6vmin;
    }

    .news-text a {
        padding: 1vmin;
        font-size: 3vmin;
    }

    footer {
        color: #fff;
        text-align: center;
        margin-top: 11vmin;
        flex-direction: column;
        font-size: 3vmin;
        padding-top: 11.7vmin;
        padding-bottom: 2vmin;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    header {
        flex-direction: column;
        justify-content: space-around;
        height: 27vmin;
        margin-bottom: 3vmin;
    }

    #desktop-menu {
        display: none;
    }

    #mobile-menu {
        font-size: 4vmin;
        font-weight: bold;
        padding: 3vmin;
    }

    #logo {
        margin-bottom: 1vmin;
        font-size: 5vmin;
    }

    main {
        display: flex;
    }

    #main-content {
        flex: 2;
        margin-right: 2vmin;
    }

    #news-section {
        flex: 1 0 4%;
    }

    .post {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .post-text {
        padding: 4.5vmin 3.4vmin;
    }

    .post-text h2 {
        font-size: 5.6vmin;
    }

    .post-text p {
        font-size: 1.8vmin;
        line-height: 1.8;
        margin-top: 1.8vmin;
    }

    .post-date {
        font-size: 4.7vmin;
    }

    .post-date span {
        font-size: 3.3vmin;
    }

    #last-post {
        padding: 15.5vmin 3vmin 20vmin;
    }

    .news-text {
        padding: 3vmin;
        padding-bottom: 5vmin;
        margin-bottom: 2.5vmin;
    }

    .news-text h3 {
        font-size: 3.6vmin;
    }

    .news-text p {
        font-size: 1.9vmin;
        line-height: 1.7;
        margin-top: 5.3vmin;
        margin-bottom: 4.3vmin;
    }

    .news-text a {
        padding: 0.7vmin 1.1vmin;
        font-size: 1.7vmin;
    }

    footer {
        color: #fff;
        text-align: center;
        margin-top: 3vmin;
        flex-direction: column;
        font-size: 1.8vmin;
        padding-top: 7.4vmin;
        padding-bottom: 2vmin;
    }
}

@media screen and (min-width: 769px) {

    body {
        margin: auto;
    }

    header {
        margin-bottom: 35px;
        height: 7vw;
        padding-left: 3vw;
        padding-right: 7vw;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    #mobile-menu {
        display: none;
    }

    #desktop-menu {
        display: flex;
    }

    nav a {
        color: #fff;
        text-decoration: none;
        font-size: 1.7vw;
        padding: 0 1.7vw;
        line-height: 7vw;
    }

    #logo {
        font-size: 3vw;
    }

    main {
        display: flex;
    }

    #main-content {
        flex: 4;
        margin-right: 1vw;
    }

    #news-section {
        flex: 1 0 4%;
    }

    .post {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    article.post {
        display: flex;
    }

    article.post:nth-of-type(even) {
        display: flex;
        flex-direction: row-reverse;
        text-align: right;
    }

    .post-image,
    .post-text {
        flex: 1 0 50%;
    }

    .post-image img {
        height: 100%;
    }

    .post-text {
        padding: 2vw 2vw;
        display: flex;
        flex-wrap: wrap;
        padding-right: 3vw;
        justify-content: space-between;
    }

    .text-only {
        order: 1;
        width: 80%;
    }

    .post-text h2 {
        font-size: 3vw;
    }

    .post-text p {
        font-size: 1.3vw;
        order: 3;
        line-height: 1.2;
    }

    .post-date {
        display: inline-block;
        order: 2;
        font-size: 3.5vw;
        margin-top: -1vw;
    }

    .post-date span {
        font-size: 2vw;
        display: block;
    }

    article.post:nth-of-type(even) .post-text {
        flex-direction: row-reverse;
    }

    #last-post {
        padding: 19.5vw 2vw 13vw;
    }

    .news-text {
        padding: 3vw;
        padding-bottom: 3.6vw;
        margin-bottom: 2.4vw;
    }

    .news-text h3 {
        font-size: 2.6vw;
    }

    .news-text p {
        font-size: 1.3vw;
        line-height: 1.3;
        margin-top: 3vw;
        margin-bottom: 3.3vw;
    }

    .news-text a {
        font-size: 1.6vw;
        padding: 0.9vw 1vw;
    }

    footer {
        font-size: 1.3vw;
        margin-top: 2vh;
        color: #484848;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1vw 2vh;
        text-align: left;
    }
}
