.full-view-news-error,
.full-view-news-loading,
.source-name {
    padding: 10px;
    border: 1px solid black;
    font-weight: bold;
    text-align: center;
}

.full-view-news-error {
    background-color: red;
}

.full-view-news-loading {
    background-color: seagreen;
}

.source-name {
    background-color: grey;
}

.full-view-news {
    display: flex;
    width: 80%;
    min-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
}

.full-view-news-image {
    height: 150px;
    margin-right: 20px;
}

.full-view-news-date,
.full-view-news-author {
    margin: 10px 0;
    font-weight: bold;
}

.container-back-button {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.back-button {
    padding: 20px;
    border: 1px solid black;
    background-color: lightgray;
    color: black;
    font-weight: bold;
}

.back-button:hover {
    background-color: grey;
    color: white;
}
