$body-bg-color   : #fff;
$body-color      : #000;
$selection-color : #14A0C7;
$card-bg-color   : #000;
$button-bg-color :#699900;

$card-img-flex-basis   : 140%;
$card-img-margin-right : 100px;

$gradients :(start:#679703, end:#3060c6);

$header-image        : url(../img/m-h-day.jpg);
$footer-wrap-padding : 138px 192px;

$main-font-family : 'Source Sans Pro',
sans-serif;
$second-font-family:'Hind',
sans-serif;