$body-bg-color   : #21232E;
$body-color      : #fff;
$selection-color : #FF4E33;
$button-bg-color :#E3AC00;
$card-bg-color   : #3B3F50;

$card-img-flex-basis   : 138%;
$card-img-margin-right : 101px;

$gradients :(start:#DDA306, end:#96324F);

$header-image        : url(../img/m-h-night.jpg);
$footer-wrap-padding : 148px 192px;

$main-font-family : 'Source Sans Pro',
sans-serif;
$second-font-family:'Fresca',
sans-serif;