.editor-page {
  width: 500px;
  margin: 10px auto;
  padding: 30px 50px;
  border-radius: 10px;
  background-color: #fff;
}

.editor-header {
  text-align: center;
}

.row {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
}

.row div {
  width: 45%;
}

.editor-input {
  height: 2.5em;
}

.editor-textarea {
  height: 100px;
}

.editor-input,
.editor-textarea {
  width: 100%;
  margin: 10px 0;
  border: 1px solid grey;
}
