.main-page-header {
  display: flex;
  margin: 10px;
}

.search-input {
  flex: 1;
  padding-left: 50px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-image: url(../img/search.svg);
  background-position: 20px;
  background-size: 1em;
  background-repeat: no-repeat;
}

.button {
  flex-basis: 50px;
  margin-left: 10px;
  padding: 10px 40px;
  border-radius: 10px;
  font-weight: bold;
}

.submit-button:not(:disabled) {
  border: 1px solid turquoise;
  box-shadow: 0px 0px 6px 0px turquoise;
  background: linear-gradient(0deg, rgba(16, 168, 219, 1) 0%, rgba(79, 229, 218, 1) 100%);
  color: white;
}

.cancel-button {
  border: none;
  background: #fff;
  color: grey;
}

input:focus,
textarea:focus,
.button:hover:not(:disabled),
.button:focus:not(:disabled) {
  border: 1px solid royalblue;
  outline: none;
}

input:disabled {
  opacity: 0.8;
  background: #bbb;
}
