.popup-menu {
  position: absolute;
  width: 150px;
  right: 10px;
  top: 80%;
  padding: 20px;
  border-radius: 10px;
  z-index: 2;
  box-shadow: 0px -2px 10px 5px #ccc;
  background-color: #fff;
  letter-spacing: normal;
}

.popup-menu.hidden {
  display: none;
}

.menu-item {
  padding: 5px 5px 5px 30px;
  border-radius: 5px;
  text-align: left;
  background-position: 5px;
  background-size: 1em;
  background-repeat: no-repeat;
}

.menu-item-Edit {
  background-image: url(../img/edit.svg);
}

.menu-item-Delete {
  background-image: url(../img/delete.svg);
}

.menu-item:hover {
  background-color: #bbb;
  color: #fff;
}
