.todo-list {
  position: relative;
  width: 100%;
  padding: 0;
}

.todo-item {
  display: flex;
  position: relative;
  height: 70px;
  border: 2px solid #f0f0f0;
  border-radius: 15px;
  align-items: center;
  list-style: none;
  background-color: #fff;
}

.item-duration,
.item-date {
  flex-basis: 90px;
  text-align: center;
}

.item-title,
.item-authors {
  flex-basis: 150px;
}

.item-title {
  font-weight: bold;
}
.item-button-wrapper {
  flex-basis: 70px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
}

.item-description {
  flex: 1;
}

.item-button:focus,
.item-button:hover {
  padding: 5px;
  border: 2px solid royalblue;
  border-radius: 7px;
  outline: none;
}

.item-cell {
  padding: 0 10px;
}
